body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:200px;
    margin-right:200px;
}

header{
    color: black;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100px;
    padding-top: 20px;
}
#nav-section{
    display:flex;
    padding:10px;
    width:100%;
    justify-content: center;
    margin-bottom: 10px;
    margin-top:20px;
    border-radius:8px;
}

.nav-link {
    display:flex;
    justify-content: center;
    width:65%;
    gap:80px;
}
.nav-link a{
    text-decoration:none;
    color: black;
}

#profile{
    margin-top:40px;
    width:100%;
    height: auto;
    display:flex;
    margin-bottom: 10px;
    justify-content:center;
}
.profile-pic{
    position:absolute;
    max-width: 10%;
    height: auto;
    width: auto;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile-pic img{
    width:100%;
    height:100%;
    border-radius:100px;
}
.profile-card{
    width:50%;
    height:fit-content;
    min-width:400px;
    padding-top:100px;
    margin-top:100px;
    text-align: center;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-radius:5px;
}
.section-header{
    width:100%;
}

#career{
    margin-top:20px;
    width:100%;
    height:auto;
    text-align:center;
    margin-bottom: 10px;
    gap:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.career-card, .theme-card{
    width:78%;
    height:100%;
    padding:26px;
    min-width:400px;
    background: #8874EC;
    color: white;
    text-align:left;
    border-radius:5px;
}
#education_background{
    width:100%;
    height: auto;
    margin-top:20px;
    text-align: center;
    margin-bottom: 10px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content: center;
}
.edu-card{
    width:26%;
    height:150px;
    padding:4px;
    min-width:150px;
    background: #9DD2FE;
    text-align:left;
    border-radius:5px;
}

#tech {
    margin-top:20px;
    text-align:center;
}

#skills{
    margin-top:20px;
    width:100%;
    height: 50vh;
    margin-bottom: 10px;
    text-align: center;
    display:flex;
    flex-wrap:wrap;
    gap:5px;
    justify-content: center;
}

.skill-card{
    width:20%;
    height:30%;
    min-width:100px;
    padding:4px;
    background: #8874EC;
    color: white;
    text-align:left;
    border-radius:5px;
}

.bar-container{
    height:5px;
    width:100%;
    border-radius:2px;
    background:white;
    opacity: 70%;
}

.bar{
    width:80%;
    height:100%;
    background:green;
}
.percent{
    margin:0px;
    font-size:12px;
    text-align:right;
}

#tools-container{
    display:flex;
    gap:10px;
    width:100%;
    height:auto;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap:wrap;
}

#tools-container img{
    width:100px;
    height: 100px;
}

#photo-essay{
    display:flex;
    gap:10px;
    width:100%;
    height:auto;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

#photo-essay img{
    width:auto;
    height: auto;
}

#videos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
}
#documents{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    margin-top:20px;
}

#documents a{
    background: black;
    opacity:80%;
    border-radius:8px;
    padding:10px;
    height:30px;
    width:20%;
    flex-grow:0.2;
}

.section-divider{
    width:100%;
    height:2px;
    background: black;
    opacity:50%;
}
#footer{
    margin-top:40px;
    width:100%;
    text-align:center;
    height: auto;
    padding:20px;
    background: rgb(200,200,200);
    display:block;
}
a{
    text-decoration:none;
    color: blueviolet;
}
#form-container{
    width:30%;
}
.socials{
    width: 50px;
    height: 50px;
}
#socials{
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}


@media screen and (max-width: 960px) {
    body{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left:5px;
        margin-right:5px;
    }
    .nav-link{
        width:100%;
    }
    .edu-card{
        width:50%;
        height:100px;
        flex-grow:1;
    }
    #skills{
        height: auto;
    }
    
    .skill-card{
        width:40%;
        flex-grow: 0.5;
        background: #8874EC;
    }
}
